# Secrets
.secrets

# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.moved-aside
DerivedData
.idea/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# OS X
.DS_Store
.AppleDouble
.LSOverride

# act local GitHub Actions runner
.actrc